@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Titillium+Web';
@font-face {
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
	/* com matiz, saturação e luminosidade
	background-color:  hsl(165,81%,93%) 
	 pode indicar o canal alfa (transparência):
	 
	 background-color:  hsla(165,81%,93%,0.5)
	 
	*/
	/*color:rgba(0,0,0,0.2); isso coloca grau de transparência no texto */
	background-color: #dddddd;
	color: rgba (0, 0, 0, 1);
	font-family: Arial, sans-serif;
}

div#interface {
	width: 900px;
	background-color: #ffffff;
	/* auto: fica a critério do navegador (automático) */
	margin: -20px auto 0px auto;
	/* cria uma sombra em volta do objeto */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
	padding: 10px;
}

p {
	text-align: justify;
	text-indent: 50px;
}

a {
	
	color:#606060;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

header#cabecalho {
	border-bottom: 1px solid #606060;
	height: 150px;
	background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 90px;
}

header#cabecalho img#icone {
	position: fixed;
	left: 800px;
	top: 40px;
}

header#cabecalho h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 30px;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
	padding: 0px;
	margin-bottom: 0px;
}

header#cabecalho h2 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 15pt;
	color: #888888;
	padding: 0px;
	margin-top: 5px;
}


/* Formatação de imagens com legendas */

figure.foto-legenda {
	/* position: relative; = esse caption fica na posicao relativa ao html, lugar onde ele foi colocado no html */
	position: relative;
	border: 8px solid white;
	/* colocar sombreamento: */
	box-shadow: 1px 1px 4px black;
	/* Não utilizem apenas o width aqui, pois este manteria o tamanho a 600 x 338 independente do tamanho da sua janela do 		  navegador, asssim eliminando o design responsivo */
	/* O max-width diz que a largura máxima de figure.foto-legenda (o que inclui <img src...> e <figcaption>), será no máximo 600 */
	max-width: 600px;
	max-height: 338px;
}

figure.foto-legenda img {
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption {
	/*position:absolute; =  o figcaption vai ter uma posicao absoluta relativa ao seu pai, o figure.foto-legenda */
	position: absolute;
	top: 0px;
	background-color: rgba(0, 0, 0, .4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	/* isso cria um box dentro da borda */
	box-sizing: border-box;
	opacity: 0;
	/* transition para minha opacidade com tempo de 1 segundo quando passar o mouse por cima (hover) */
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
	opacity: 1;
}


/* FORMATAÇÃO DO MENU */


/* colocar meu menu como bloco 
   um bloco pode flutuar pela tela
*/

nav#menu {
	display: block;
}


/* tag nav com id menu */

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	/* para que ele possa passar por cima dos documentos 
	   
	   posição relativa do meu ul dentro do meu menu nav 
	   então só vou conseguir mexer nele dentro do meu container
	   
	   se fosse posição absoluta seria feita uma referência da posição dele dentro de todo site, ele fica livre pelo site.
	   Assim, eu posso configurar o top e o left
	*/
	position: absolute;
	top: -20px;
	left: 300px;
	/*380*/
}

nav#menu li {
	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	/* faz a transição do hover ser mais suave em 1 segundo */
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #606060;
}

nav#menu h1 {
	/* vamos ocultar a escrita "menu principal" ,mas continuamos deixando lá para mecanismos de busca */
	display: none;
}

nav#menu a {
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover {
	color: #ffffff;
	text-decoration: underline;
}


/* ----------------------------------------  CORPO   ---------------------------------------------------------- */


/* TABELA */

section#corpo {
	/* pra ser mostrada como um bloco */
	display: block;
	width: 500px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}

article#noticia-principal h2 {
	font-size: 12pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 10px 0px;
	margin: 10px 0px 10px 0px;
}

article#noticia-principal h1 {
	font-family: "FonteLogo", sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}

.direita {
	text-align: right;
}

article#noticia-principal h2 {
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
	margin: 0px;
}

article#noticia-principal h3 {
	font-size: 12px;
	color: #606060;
	background-color: #ffffff;
}

table#tabelaspec {
	border: 1px solid #606060;
	/* espaço entre as células */
	border-spacing: 0px;
	/* margin auto pros dois pra deixar a tabela centralizada */
	margin-left: auto;
	margin-right: auto;
}

table#tabelaspec td {
	border: 1px dashed #606060;
	padding: 10px;
	text-align: center;
	/* alinha as palavras dentro do rowspan */
	vertical-align: middle;
}

table#tabelaspec td.ce {
	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;
}

table#tabelaspec td.cd {
	background-color: #cecece;
}

table#tabelaspec caption {
	color: #888888;
	font-size: 13pt;
	font-weight: bolder;
}

table#tabelaspec caption span {
	display: block;
	float: right;
	color: #000000;
	font-size: 8pt;
	margin-top: 10px;
}


/* CORPO */

aside#lateral {
	display: block;
	width: 350px;
	/* usando com o display block pra o aside 'flutuar' pelo lado direito */
	float: right;
	background-color: #dddddd;
	padding:10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1{
	
	font-family: "FonteLogo", sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}

aside#lateral h2{

	background-color: #606060;
	font-size: 13pt;
	color: #ffffff;
	padding:10px;

}

footer#rodape {
	/* isso quer dizer: "limpe as configurações dos dois lados, retirando o display block"
	o clear: both informa que o footer ficará fora da divisão do display block */
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape p {
	text-align: center;
}
